@charset "utf-8";
/* CSS Document */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;font-family:"微软雅黑";}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
html,body{color:#333; font-size:12px;}

em{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
address,cite,dfn,em,var{font-style:normal;}
ul,ol,li,dl,dd,dt{list-style:none;}
a{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color:#e49193;transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;}
a.red:link,a.red:visited,a.red:hover{ color:#bd0000;}
fieldset,img{border:none;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
/*.img100{width:100%;}*/
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {/* zoom:1;*/clear:both;/*border:1px solid #F00;*/ }
.left {float:left;}
.right {float:right;}
.tc{text-align: center;}
.tl{text-align: left!important;}
.tr{text-align: right!important;}
.fl{float: left;}
.fr{float: right;}
.w1000{width: 1000px; margin:0 auto;}

.zhuti{width:1200px; margin:0 auto;}
header{width:100%; height:180px; min-width:1200px; background: url(../images/top-bg.png) no-repeat; background-size: cover; }
.top{width:1138px; height:140px; margin:0 auto;}
.t_left{width:70px; height:140px; float:left;}
.caidan{width:64px; height:25px; float:left; margin-top:118px; }
.caidanl{width:20px; height:16px; float:left; padding-top:4px;}
.caidanr{width:44px; height:20px; float:right; font-size:15px; text-align:center;}
.t_cen{height:59px; padding-top:81px;text-align:center;}
.t_right{width:110px; height:140px; float:right;}
.gouwu{width:110px; height:25px; float:left; margin-top:118px;}
.gouwul{width:95px; height:25px; float:left; font-size:15PX;}
.gouwur{width:15px; height:12px; float:left; padding-top:2PX;}

.datu{width:1200px; height:651px; background:url(../images/top1.jpg) no-repeat; background-size: contain; float:left; margin-bottom:20px;}
.xlcd{ float:left; font-size:14px;text-align:center;width:100%;margin:20px 0;min-width:1200px;z-index:99999;}
.xlcd a{color:#000;margin:0 10px;}
.xlcd a:hover{color:#8c6359;}
.xlcd a.on{color:#8c6359;}

.pic{width:1200px; height:134px; float:left; min-width:1200px; margin-bottom: 120px;}
.pic_k{width:840px; margin:0 auto; height:134px;}
.pic_k ul li{float:left; display:block; width:247px; height:134px; margin-left:15px; margin-right:15px; box-shadow:0 5px 10px 3px #eeeeee;}
.pic_k img{width: 100%; height: 100%;}

.dingzhi{width:1200px; height:555px; background:url(../images/dzall.png) repeat-x; float:left; margin-top:60px; }
.dz_k{width:490px; height:305px; margin:0 auto; margin-top:110px;}
.d-top{width:490px; height:35px; float:left; text-align:center;}
.d-cen{width:490px; height:130px; float:left; margin-top:55px;}
.d-cen dl{width:94px; height:130px; float:left; margin-left:14px; margin-right:14px;}
.d-cen dt{width:94px; height:95px; float:left;}
.d-cen dd{width:94px; height:35px; float:left; text-align:center; font-size:15px;}
.d-cen dl dd a{color:#666;}
.d-cen dl dd a:hover{color:#e49193;}
.d-bot{width:490px; height:43px; float:left; text-align:center; margin-top:40px;}

.hide{opacity:0;}
.xilie{width:1200px; /*height:580px;*/ float:left; }
.x-top{width:1200px; height:81px; float:left; text-align:center;}
.x-cen{width:1200px; height:30px; float:left; background:url(../images/xian.png) repeat-x; margin-top:20px;}
.x-cenk{width:420px; height:30px; margin:0 auto;}
.x-cenk ul{width:420px; height:30px;}
.x-cenk ul li{cursor:pointer;float:left;width:50px; height:24px; display:block; background:url(../images/hg.png) no-repeat;color:#666; padding-top:6px; letter-spacing:1.5px; font-weight:bold; padding-left:33px; margin-left:11px; margin-right:11px;}
.x-cenk ul li.on{background:url(../images/yuan.png) no-repeat; color:#fff;}
.x-bot{width:1200px; height:400px; float:left; text-align:center; margin-top:32px;overflow:hidden;position:relative;}
.x-bot img{position:absolute;left:0px;top:0px; -webkit-transition: all 1.25s;transition: all 1.25s;opacity:0;}
.x-bot img.on{opacity:1;}

.kongbai{width:1200px; height:212px; float:left; min-width:1200px;}

section{width:1200px; height:640px; float:left;}
.about-k{width:1200px; height:640px; margin:0 auto;}
/*.about-title{width:1050px; height:96px; float:left; padding-left:72px;}*/
.about-bot{height:530px;}
.about-right{width:580px; height:530px;float:right; }
.about-left{width:540px; height:530px; float:left; /*background:url(../images/jeihzi.png) no-repeat;*/}
.about{/*width:476px;*/ float:left; height:490px; color:#494345; font-size:12px; line-height:18px;/* padding-top:40px;*/background: url(../images/about-bg.png) no-repeat 0 80px; background-size: contain;}
.wz{font-size:16px; line-height:1.2;}

.div_back{text-align:center;width:100%;margin: 0 auto;}
.bodycontent{text-align:center;width:100%;margin: 0 auto;}


.tuijian{width:1200px; height:835px; float:left; margin-top:110px; }
.t-top{width:1200px; float:left; text-align:center; margin-bottom:10px; font-size: 30px;}
.t-bot{width:1200px; height:608px; float:left; margin-top:70px;}
.t-bot a{box-shadow: 0 0 #333;}
.t-left{float: left; margin-right: 2px; margin-left: 30px;}
.t-center{float: left; width:386px;}
.t-center a{float: left;}
.t-center img{display: block;}
.t-right{float: left; margin-top:294px; margin-left: -1px;}
.t-right a{float: left;}
.t-right img{display: block;}



.new{width:1200px; height:353px; float:left; margin-top:180px; }
.newk{width:880px;height:353px; background:url(../images/tujtu.png) no-repeat; margin:0 auto;}
.newkk{width:780px; height:192px; float:left;}
.n-pp{width:191px; height:192px; float:left;box-shadow:0px 0px 10px 3px #f2f2f2;}
.n-pp1{width:191px; height:192px; float:left; margin-left:32px;box-shadow:0px 0px 10px 3px #f2f2f2;} 
.n-new{width:342px; float:right; height:192px;}
.n-title{width:342px; height:24x; float:left; font-size:16px; font-weight:bold; padding-top:8px;}
.n-con{width:342px; height:150px; float:left; margin-top:10px;}
.n-con ul li{line-height:30px; font-size:14px;}
.n-con ul li a{float:left; display:block; color:#999; width:342px; height:29px; }
.n-con ul li a:hover{color:#e49193;} 

footer{ height:221px; background:url(../images/footbj.png) repeat-x; margin-top: 30px;}
.f-top{width:1200px; height:75px; margin:0 auto;}
.f-au{width:874px; height:75px; margin:0 auto;}
.f-au dl{width:57px; height:75px; float:left; margin-left:33px; margin-right:33px;}
.f-au dl a{display: inline-block; cursor: pointer;}
.f-au dl dt{width:57px; height:57px; float:left;}
.f-au dl dd{width:57px; height:28px; float:left; text-align:center; font-size:14px;}
.f-bot{width:1200px; height:106px; margin:0 auto; margin-top:22px;}
.foot{width:870px; height:106px; margin:0 auto;}
.f-left{height:106px; float:left;}
.fo-left{width:330px; height:70px; float:left; margin-top:15px; line-height:14px;}
.fo-cen{width:275px; height:70px; float:left; margin-top:15px; margin-left:50px;}
.fo-right{width:205px; height:70px; margin-top:15px; float:right;}
.f-right{width:108px; height:106px; float:right; box-shadow:0px 0px 15px 5px #d3d3d3;}
.foot a{color:#999;}
.foot a:hover{color:#f9b5b2;}




/*新增*/
/*导航*/
.nav{margin-bottom: 40px;width: 1200px; height: 30px; background: url(../images/xian.png) repeat-x;}
.nav-box{text-align: center;}
.nav-box ul{display: inline-block;}
.nav-box ul li{cursor: pointer; float: left;}
.nav-box ul li a{cursor: pointer; float: left; padding:0 20px; height: 30px; line-height: 30px; color: #666; border:1px solid #ddd; border-radius: 50px; margin:0 10px; font-size: 14px; background-color: #fff;}
.nav-box span{width: 8px; height: 8px; display: inline-block; border-radius: 50%; background-color: #ccc; margin-right: 8px; margin-bottom: 2px;}
.nav-box ul li i{width: 15px; height: 12px; outline: none; display: inline-block; background: url(../images/gwc.gif) no-repeat;}

.nav-box ul li a.on{color:#fff; background-color: #f9b5b2; border-color:#f9b5b2;}
.nav-box ul li a.on span{background-color: #fff;}
.nav-box ul li a:hover{color:#fff; background-color: #f9b5b2; border-color:#f9b5b2;}
.nav-box ul li a:hover span{background-color: #fff;}
.nav-box ul li a.on i{background: url(../images/gwc-w.gif) no-repeat;}

/*定制*/
.dz{position: relative; margin-bottom: 60px;}
.dz a{position: absolute; right:148px; top: 217px; padding:0 20px; width: 80px; display: block; height: 30px; line-height: 30px; color: #666; border:1px solid #ddd; border-radius: 50px; background-color: #fff; font-size: 14px;}
.dz a span{width: 8px; height: 8px; display: inline-block; border-radius: 50%; background-color: #ccc; margin-right: 12px; margin-bottom: 2px;}
.dz a:hover{color:#f9b5b2;}
.dz a:hover span{background-color:#f9b5b2;}

/*二级页面样式*/
.contain{min-width: 740px;min-height:368px;}
.side-bar{margin-right: 65px;margin-left: 85px;}
.side-bar ul{}
.side-bar li{margin:10px 0;}
.side-bar a{font-size: 14px; color:#666; line-height: 24px;}
.side-bar a:hover{color:#f9b5b2;}
.side-bar a.on{color:#f9b5b2;}
.con-r{overflow: hidden;}
.con-r ul{}
.con-r li{width: 180px; height: 180px; float: left;}
.con-r li a{display: table; height: 100%; width: 100%; text-align: center; vertical-align: middle; background-size: cover;}
.con-r li .about-txt{display: table-cell; vertical-align: middle;}
.con-r li p{font-size: 14px; color:#666; margin-left: 10px; margin-right: 10px; margin-top: 10px;}
.con-r li p:first-child{margin-top:0;}
.con-r li a:hover p{ color:#666;}
.about-bg01{background: url(../images/about-bg01.jpg) no-repeat;}
.about-bg02{background: url(../images/about-bg02.jpg) no-repeat;}
.about-bg03{background: url(../images/about-bg03.jpg) no-repeat;}
.about-bg04{background: url(../images/about-bg04.jpg) no-repeat;}
.about-bg05{background: url(../images/about-bg05.jpg) no-repeat;}
.about-bg06{background: url(../images/about-bg06.jpg) no-repeat;}
.about-bg07{background: url(../images/about-bg07.jpg) no-repeat;}
.about-bg08{background: url(../images/about-bg08.jpg) no-repeat;}
.about-bg09{background: url(../images/about-bg09.jpg) no-repeat;}
.about-bg03{background: url(../images/about-bg03.jpg) no-repeat;}
.about-bg03{background: url(../images/about-bg03.jpg) no-repeat;}
.about-bg03{background: url(../images/about-bg03.jpg) no-repeat;}

.about-bg1{background: url(../images/about-bg1.jpg) no-repeat;}
.about-bg2{background: url(../images/about-bg2.jpg) no-repeat;}
.about-bg3{background: url(../images/about-bg3.jpg) no-repeat;}
.about-bg4{background: url(../images/about-bg4.jpg) no-repeat;}
.about-bg10{background-color: white;}
.about-bg11{background: url(../images/about-bg11.jpg) no-repeat;}
.about-bg12{background: url(../images/about-bg12.jpg) no-repeat;}
.about-bg13{background: url(../images/about-bg13.jpg) no-repeat;}
.about-bg14{background: url(../images/about-bg14.jpg) no-repeat;}
.about-bg15{background: url(../images/about-bg15.jpg) no-repeat;}
.field-item li{width: 100%; height: 100%;padding:8px 0; float: left;}
.container-fluid h1{font-size:18px;}

/*产品页面*/
.pro-box{width: 1000px; margin:0 auto;}
.pro-box ul{}
.pro-box li{float: left; border:1px solid #ddd; border-radius: 4px; margin:4px; width: 240px; overflow: hidden;}
.pro-box li:hover{ box-shadow: 0 0 6px #f9b5b2;}
.pro-box a{display: block; text-align: center;}
.pro-box img{width: 240px; height: 236px; overflow: hidden;}
.pro-box h3{font-size: 14px; margin-bottom: 6px;}
.page{overflow: hidden; margin-top: 10px;}
.page a{display: inline-block; width: 18px; height: 18px; text-align: center; line-height: 18px; background-color: #eaeaea;}

.pro-t{width: 1000px; margin:0 auto; font-size: 14px; margin-bottom: 40px; margin-top: 80px;}
.pro-t-l li{display: inline-block; padding:0 10px;}
.pro-t-l a.on{color:#f9b5b2;}
.price-box{margin-left: 66px;}
.price-box span{float: left; margin-right: 16px;}
.price-box i{font-style: normal;}
.price-bar{display: inline-block; width: 300px; background: #b17a61; height: 10px; border-radius: 5px; position: relative;}
.price-bar .price-bg{background-color: #fff; width: 20px; height: 8px; border-radius: 5px; margin-top: 1px;}
.price-bar .price-block{position: absolute; left: 0;}
.price-bar .price-block-l{}
.price-bar .price-block-r{}

.detail{position: relative;}
.detail-r{position: absolute; top:56px; right: 0; width: 360px;}
.detail-r h1{font-size: 28px;}
.detail-r p{margin:20px 0; font-size: 14px; color: #333；}
.detail-r span{width: 76px; display: inline-block; font-size: 14px;}
.detail-r select{width: 240px; height: 32px; background-color: #f7f1e5; border-color:#c89600; border-radius: 4px; font-size: 14px;}
.detail-s{margin:6px 0;}

.detail-buy{margin-top: 100px;}
.detail-buy p{display: inline-block; font-size: 20px;}
.detail-buy i{font-style: normal; color: #f9b5b2; font-size: 20px;}
.detail-buy .btn{background-color:#bd8167; padding:7px 28px; border:1px solid #8b553e; color: #fff; border-radius: 6px; margin-left: 10px;}

.share{width: 800px; height: 100px; padding-left: 200px;}
.share li{float: left; margin-right: 6px;}


















