
.logo {
    margin: 42px 0;
    }
.logo img {
    width: 144px;
    }
.title {
    margin: 0;
    }
.color-3a{
    color: #3a3838;
    }
/*图片与hover*/
.addImg{
    display: inline-block;
    margin-right: 10px;
    padding-top: 36px;
    width: 48px;
    height: 50px;
    vertical-align: middle;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 32px auto;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    }
.fotterBtn{
    display: block;
    width:95px;
    height: 34px;
    vertical-align: middle;
    background-size: 95px auto;
    cursor: pointer;
    }
.zj-form,.ss-form { padding: 8px 0 0 0; margin: -60px 15px 0; /*border-bottom: 1px dashed #3a3838;*/}
.ss-form { border-top: 0;}
.zj-form:nth-of-type(1) { border-top: 0; }
.jt-form { padding: 20px 0 0; margin: 0 15px; position: relative;  border-bottom: 1px dashed #3a3838; min-height:70px; }
.jt-form .col-sm-10,.jt-form.col-xs-9,.zj-form .col-sm-10,.zj-form.col-xs-9,.ss-form .col-sm-10,.ss-form.col-xs-9 {
    padding-right: 0;
}
.returnData { display: inline-block;}
.d-refresh span,.d-delete span { margin: 0; height: 0; }
.d-delete,.d-refresh { width: auto; }
/*减号*/
.delete{
    background-image: url("../images/icon/delete.png");
    }
.delete:hover{
    background-image: url("../images/icon/activeDelete.png");
    }
.delete:active{
    background-image: url("../images/icon/activeDelete.png");
    }
/*加号*/
.activeAdd{
    background-image: url("../images/icon/Add.png");
    }
.activeAdd:hover{
    background-image: url("../images/icon/activeAdd.png");
    }
.activeAdd:active{
    background-image: url("../images/icon/activeAdd.png");
    }
.add-two {
    background-image: url("../images/icon/Add1.png");
    }
.add-two:hover{
    background-image: url("../images/icon/add1Active.png");
    }
.add-thr {
    position: absolute;
    left: -8px;
    top: 18px;
    background-image: url("../images/icon/Add2.png");
    z-index: 2;
    }
.add-thr:hover{
    background-image: url("../images/icon/active2Add.png");
    }
/*return*/
.return{
    margin-left: 15px;
    background-image: url("../images/icon/return.png");
    }

.return:hover{
    background-image: url("../images/icon/activeReturn.png");
    }
.return:active{
    background-image: url("../images/icon/activeReturn.png");
    }
/*remove*/
.remove{
    margin-left: 15px;
    background-image: url("../images/icon/remove.png");
    }

.remove:hover{
    background-image: url("../images/icon/activeRemove.png");
    }
.remove:active{
    background-image: url("../images/icon/activeRemove.png");
    }
.currency>img{width: 30px;height: 30px;vertical-align: middle;}
.currency .selected{margin-bottom: 3px;border: 2px solid #bd8165;border-radius: 4px;}
   
/*save*/
.save{
    margin-left: 15px;
    background-image: url("../images/icon/save.png");
    }

.save:hover{
    background-image: url("../images/icon/activeSave.png");
    }
.save:active{
    background-image: url("../images/icon/activeSave.png");
    }
/*lnvoice*/
.lnvoice{
    margin-left: 15px;
    background-image: url("../images/icon/printBill.png");
    }

.lnvoice:hover{
    background-image: url("../images/icon/activePrintBill.png");
    }
.lnvoice:active{
    background-image: url("../images/icon/activePrintBill.png");
    }
/*printReceipt.png*/
.receipt{
    margin-left: 15px;
    background-image: url("../images/icon/printReceipt.png");
    }
.receipt:hover{
    background-image: url("../images/icon/activePrintReceipt.png");
    }
.receipt:active{
    background-image: url("../images/icon/activePrintReceipt.png");
    }
/*form*/
.form-login {
    padding-bottom: 2px;
    margin: 12px 0 10px 0;
    }
.date-form {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #231815;
}
.form-login label {
    text-align: left !important;
    font-weight: 100;
    color: #3a3838;
    }
.form-login input {
    color: #b6b6b6;
    }
/*Add*/
.Add{
    margin: 0 15px;
    padding: 12px 0;
    border-top: 1px dashed #3a3838;
    border-bottom: 2px solid #3a3838;
    }
.Add:nth-child(1) {
    padding-top: 6px;
}
.activeAdd{
    }
/*addApend*/
.addContent{
    width:100%;
    }
.addApend{
    display: inline-block;
    margin: 6px;
    padding: 6px 0;
    position: relative;
    top: 16px;
    z-index: 2;
    }
.addApend .pdNone{
    padding: 0;
    position: static;
    }
.zj-form .col-md-offset-1.pdNone,.jt-form .col-md-offset-1.pdNone,.ss-form .col-md-offset-1.pdNone{
    padding: 0 0 0 35px;
}
.jt-box {
    display: none;
}
.formBorder{
    height: 1px;
    border-top:1px dashed #3a3838;
    margin-bottom: 10px;
    margin-top: 10px;
    }
.addApend label{
    padding: 7px 0 0 0;
    }
/*减号*/
.delete-content{
    position: absolute;
    width:100%;
    left: 80px;
    top:0;
    width: 120px;
    padding: 10px 0;
    background:rgba(204,204,204,.5);
    border-radius: 4px;
    z-index: 100;
    display: none;
    }

/*工作人员*/
.staff {
    padding: 8px 0;
    border-top: 2px solid #3a3838;
    border-bottom: 1px dashed #231815;
    font-size: 18px;
    }
.staff span { color: #b6b6b6; font-size: 13px;}
/*总计*/

.Total h1{
    font-size: 26px;
    margin: 15px 0;
    text-align: right;
    }
.Total h1 span { display: inline-block; width: 120px; text-align: right;}
/*fotter*/
.fotter{
    padding: 0;
    margin: 0 0 25px;
    }
/*平板*/
@media (min-width: 768px ) and (max-width: 992px) {
    .removeData{
        margin-top: 15px;
        }
    }
/*中等尺寸*/
@media (min-width: 993px) {

    }
/*手机*/
@media (min-width: 320px) and (max-width: 767px) {
    .logo {
        margin: 21px 0;
        }
    .logo img {
        width: 80px;
        }
    .title {
        font-size: 16px;
        }
    .form-login {
        font-size: 13px;
        }
    .addApend label{
        font-size: 14px;
        font-weight: 100;
        text-align: left;
        }
    .removeData{
            margin-top: 15px;
        }
    .delete,.return,.remove{
        margin:0 0 10px 0;
        }
    .Total h1{
        font-size: 20px;
        }
    .fotterBtn{
        width:85px;
        height: 30px;
        background-size: 85px auto;
        }
    .save{
        margin: 0;
        }
    }
